{{define "consult"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du produit</title>
</head>
<body>
    <header>
        <img src="/static/img/logo/2.png" alt="Image du logo StreetShop">
        <nav class="nav">
            <a href="#home">Home</a>
            <a href="#add">Add</a>
        </nav>
    </header>
    <main>
        <h1>Détails du produit</h1>
        <div class="produit-detail">
            <img src="{{.Img}}" alt="{{.Name}}">
            <h2>{{.Name}}</h2>
            <div class="prices">
                {{if .OldPrice}}
                    <div class="old-price">{{.OldPrice}}€</div>
                {{end}}
                <div class="price">{{.Price}}€</div>
            </div>
            <p>Description du produit à venir...</p>
        </div>

    </main>
</body>
</html>
{{end}}