{{define "index"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>TP-Rendre-un-site-web-dynamique</title>
</head>
<body>
    <header>
        <img src="/static/img/logo/2.png" alt="Image du logo StreetShop">
        <nav class="nav">
            <a href="/">Home</a>
            <a href="#add">Add</a>
        </nav>
    </header>
    <main>
        <h1>Les produits</h1>
        <div class="produits">
            {{range .}}
                <div class="fiche">
                    <img src="{{.Img}}" alt="{{.Name}}">
                    <div class="info">
                        <h2>{{.Name}}</h2>
                        <div class="prices">
                            {{if .OldPrice}}
                                <div class="old-price">{{.OldPrice}}€</div>
                            {{end}}
                            <div class="price">{{.Price}}€</div>
                        </div>
                        <a class="consulter" href="/consult?id={{.ID}}">Consulter</a>
                    </div>
                </div>
            {{end}}
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Tous droits réservés</p>
    </footer>
</body>
</html>
{{end}}